<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path 'restaurant.png'%>);">
  <div class="container">
    <h1>Bienvenidos<strong>Restaurantes</strong> a <strong>Domicilio</strong>!</h1>
    <a class="btn btn-flat" href="#">Vende Ya!</a>
  </div>
</div>
<h4 class="text-secondary mt-3">Ultimos Restaurantes Agregados</h4>
<hr>
<div class="row">
<% @restaurants.each do |restaurant| %>
  <div class="col-4">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=url_for restaurant.photo%>)">
      <%= restaurant.name %>
    </div>
  </div>
<% end %>
</div>
